@use "@/sass/index" as *;

.bubble-display-image {
  $image-bubble-border-color: $color-ghost-white;

  &__user-image-bubble {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-raisin-black;
    font-weight: $font-weight-extrabold;
    text-transform: uppercase;

    .has-border & {
      border: 3px solid $image-bubble-border-color;
    }

    .is-small & {
      width: $space-4;
      height: $space-4;
      font-size: $space-2;
    }

    .is-medium & {
      width: $space-5;
      height: $space-5;
      font-size: $space-4;
    }

    .is-large & {
      width: $space-7;
      height: $space-7;
      font-size: $space-5;
    }
  }
}
