@use "@/sass/index" as *;

.nav-bar {
  $popover-background-color: transparentize($color-raisin-black, 0.1);

  display: flex;
  background-color: darken-3($color-raisin-black);
  padding: $space-2;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0px -12px 20px 15px lighten-1($color-azure-blue);

  &__logo-and-title-wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 40px;
  }

  &__page-title {
    @extend %body-sans;

    font-weight: $font-weight-bold;
    border-left: 2px solid $color-ghost-white;
    padding-left: $space-4;
    margin-left: $space-4;
  }

  &__user-bubble-button {
    display: flex;
    border-radius: 100px;
    padding: $space-1;
    align-items: center;
    border: none;
    background-color: lighten-1($color-spring-green);
    transition: box-shadow 0.5s, color 0.5s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 20px $color-spring-green;
    }

    &:active {
      box-shadow: 0 0 40px $color-spring-green;
    }
  }

  &__bubble-user-image {
    width: $space-4;
    height: $space-4;
    border-radius: 100%;
    margin-right: $space-3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-raisin-black;
    font-weight: $font-weight-extrabold;
    font-size: $space-2;
  }

  &__bubble-user-name {
    @extend %body-sans;

    color: $color-raisin-black;
    font-weight: $font-weight-bold;
    margin-right: $space-2;
  }

  &__caret-icon {
    color: $color-raisin-black;
    margin-right: $space-2;
    font-size: $space-2;
  }

  &__popover {
    background-color: $popover-background-color;
    padding: $space-1;
    border-radius: 20px;
  }

  &__popover-arrow {
    border-bottom-color: $popover-background-color !important;
    top: -10px !important;
  }

  &__popover-log-out-button {
    @extend %body-sans;

    background-color: $color-folly-red;
    display: flex;
    border-radius: 100px;
    padding: $space-1 $space-2;
    align-items: center;
    border: none;
    color: $color-raisin-black;
    font-weight: $font-weight-bold;
    transition: box-shadow 0.5s, color 0.5s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 20px $color-folly-red;
    }

    &:active {
      box-shadow: 0 0 40px $color-folly-red;
    }
  }
}
